html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font: 1.5em 'Verdana', Verdana, Arial, sans-serif;
    line-height: 1.5em;
    letter-spacing: -.1rem;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

ul {
    list-style: none;
}

.panel {
    margin-left: 0.5em;
}

.music-school-music, .likes, .links {
    display: table;
    margin: 0 29%;
}

.collections {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.collections li {
    /*display: inline;*/
}

.collection-container {
    float: left;
}

.italic {
    font-style: italic;
}

.not-liked {
    color: white;
    float: right;
}

.liked {
    color: black;
    float: right;
}

.links {
    margin: 0 auto;
}

img {
    border-radius: 0.3em;
}

.alex {
    width: 10em;
    display: block;
    bottom: 0;
    position: fixed;
    left: 50%;
    margin-left: -5em;
}

li.link {
    display: inline;
    margin-right: 0.5em;
}

.track {
    min-width: 364px;
}

.track > * {
    margin-right: 0.5em;
}

.icon {
    vertical-align: middle;
    float: right;
}

.collection-name, .track-name, .liked, .not-liked {
    cursor: pointer;
}

.header {
    /*margin-left: 1%;*/
}

hr {
    border: 0.2em solid #4d4d4d;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.controls {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.controls::-webkit-media-controls-enclosure {
    max-width: 100%;
}

.now-playing {
    font-size: 1rem;
    text-align: center;
}

button,
input[type="checkbox"] {
    outline: none;
}

.hidden {
    display: none;
}

.panels {
    font-size: 2.5rem;
    text-align: center;
}

.panels li {
    display: inline;
}

.panels li a {
    color: inherit;
    margin-right: 1%;
    padding: 3px 7px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 0.2em;
}

.panels li a.selected,
.panels li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.panels li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}
