html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 2.5rem 'Aktiv Grotesk', sans-serif;
    line-height: 1;
    letter-spacing: -.1rem;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    white-space: nowrap;
}

.favorites {
    transition: background 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

.favorites.highlight {
    background-color: #FDFD65;
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s;
}

/*.collections {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

ul.tracks li {
    margin: -1px;
}

.italic {
    font-style: italic;
}

.not-liked {
    color: #D0D0D0;
}

.liked {
    color: black;
}

.links {
    margin: 0 auto;
}

img {
    border-radius: 0.3em;
    vertical-align: baseline;
}

.alex {
    width: 22rem;
    display: block;
    opacity: 0.7;
    position: absolute;
    top: 20rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}

li.link {
    display: inline;
    margin-right: 0.5em;
}

.icon {
    display: inline;
    cursor: pointer;
}

.liked, .not-liked, .soundcloud, .score {
    position: absolute;
}

.score {
    right: 110px;
}

.liked, .not-liked {
    right: 70px;
    font-size: .9em;
    cursor: pointer;
    margin-top: 4px;
}

.soundcloud {
    right: 30px;
}

hr {
    border: 0.3rem solid #4d4d4d;
    margin: 0;
}

h1 {
    font-size: 7rem;
    font-weight: normal;
    text-align: center;
    margin: 30px 0 0 0;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

.controls {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: none;
}

.controls::-webkit-media-controls-enclosure {
    max-width: 100%;
}

.now-playing {
    font-size: 1rem;
    text-align: center;
    min-height: 30px;
}

.text {
    vertical-align: sub;
    letter-spacing: -.05rem;
}

.hidden {
    visibility: hidden;
}

.panels {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
}

.panel > .tracks {
    /*top: 0;*/
    /*margin-top: 7.3em;*/
}

ul {
    position: absolute;
    list-style: none;
    /*margin: 0;*/
    padding: 0.5em 0.5em 0 0.5em;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tracks {
    flex-direction: column;
    min-width: 14em;
    max-width: 14em;
    margin-top: 0.3em;
}

.collection > .tracks {
    /*top: 2em;*/
}

.track {
    display: block;
    height: 44px;
    text-align: left;
}

.track-name {
    width: 100%;
    float: left;
    cursor: pointer;
}

li {
    margin: 0.5em;
}

li > a {
    color: inherit;
    padding: 4px 7px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 0.2em;
}

li a.selected,
li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.link a:hover {
    border-color: transparent;
}

.bio-text {
    text-align: center;
    padding-top: 1em;
    position: absolute;
}
